
body{
	background-color: #f9f9f9;
}

#topHome{
	background: url(../img/home_bg.jpg) no-repeat center center fixed;
}



.container{
	width:980px;
	margin:0 auto;
	padding-top:60px;
	text-align:center;
	clear:both;
	padding:20px 0px;
}

h1{
	text-align:center;
	color:#FFF;
	font-size:50px;
	text-transform:uppercase;
	text-decoration: underline;
	text-shadow: 2px 2px #000;
}

h2{
	text-align:center;
	color:#FFF;
	font-size:33px;
	text-transform:uppercase;
}

h3{
	text-align:center;
	color:#FFF;
	font-size:22px;
	font-weight:300;
	margin-top:8px;
}




#parallax{
	width:100%;
	background-size: 100%;
	float:left;
	background-color:#fff;
	padding-bottom:0px;
	background-image:url(../img/parallax_bg.jpg);
	background-position:center;
	height:376px;
	margin-bottom:15px;
}
#parallax + div{
	margin-top:35px;
	width:980px;
	background-image:url(../img/linea_blanca.jpg);
	background-repeat:no-repeat;
	background-position: center 17px ;
}

#parallax > div h4{
	text-transform:uppercase;
	color:#166BEC;
	font-size:18px;
	background-color:#fff;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:3px;
	padding-top:3px;
	display:inline-block;
}

#parallax > div p{
	color:#FFF;
	text-align:center;
	font-size:14px;
	margin-top:15px;
	margin-bottom:8px;
}




#minionHello{
	background-image: url(../img/minion_hello.png);
	width: 400px !important;
	height:376px !important;
	float: right;
	margin-top: -221px;
}



#accordions{
	height: 1200px;
	background-color: #e7e7e7;
}

.accordion{
	background-color: #ccc;
	float:left;
	margin-left:20px;
	width: 460px;
}
.accordion > *:nth-child(2n-1){
	padding: 15px 40px;
	background-color: #e7e7e7;
	font-size: 20px;
	cursor:pointer;
	border: 2px solid #bbb;
	border-radius: 8px 8px 0px 0px;
	max-width: 460px;
}

.accordion > *:nth-child(2n-1) div{
	width:15px;
	height:15px;
	float:right;
}

.accordion > *:nth-child(2n-1) div.on{
	background-color: green;
}

.accordion > *:nth-child(2n-1) div.off{
	background-color: red;
}

.accordion > *:nth-child(2n){
	background-color: #bbb;
	padding:15px;
}

.accordion > *:nth-child(2n) p{
	font-size: 14px !important;
}







#slider{
	width:100%;
	height: 300px;
}

#slider > *:nth-child(2n){
	background-color: red;
}

#slider > *:nth-child(2n-1){
	background-color: green;
}

